body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.game-field {
  display: grid;
  align-items: center;
  justify-items: center;
}

.hints-field {
  display: flex;
}

.cell {
  background-color: aqua;
}

.empty-cell {
  background-color: red;
}

.hint {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2.4vmin;
  gap: 4px;
  padding: 8px;
  background-color: grey;
  width: 100%;
  height: 100%;
}

.vertical {
  flex-direction: column;
}

.cross {
  background-color: bisque;
}

.painted {
  background-color: black;
}

.line {
  position: relative;

  &:not(.vertical)::after {
    content: '';
    position: absolute;
    width: calc(40vmin + 6px);
    height: 3px;
    background-color: blueviolet;
    bottom: -1px;
    left: 0;
  }

  &.vertical::after {
    content: '';
    position: absolute;
    width: 3px;
    height: calc(40vmin + 6px);
    background-color: blueviolet;
    top: 0;
    right: -1px;
  }

  &.medium:not(.vertical)::after {
    width: calc(65vmin + 11px);
  }

  &.medium.vertical::after {
    height: calc(65vmin + 11px);
  }

  &.hard:not(.vertical)::after {
    width: calc(90vmin + 16px);
  }

  &.hard.vertical::after {
    height: calc(90vmin + 16px);
  }
}