
.game-field {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100dvh;
}

.hints-field {
  display: flex;
}

.cell {
  background-color: aqua;
}

.empty-cell {
  background-color: red;
}

.hint {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  padding: 8px;
  background-color: grey;
  width: 100%;
  height: 100%;
}

.vertical {
  flex-direction: column;
}

.cross {
  background-color: bisque;
}

.painted {
  background-color: black;
}