@import url(../assets/fonts/fonts.css);

$grey: #b5b6b4;
$lime: #bee72a;
$orange: #f09f0a;
$red: #ec571c;
$background: linear-gradient(#CBF0FD, #F5D6E1);

$grey-dark: #9b9c99;
$lime-dark: #82ca30;
$orange-dark: #cf8a0a;
$red-dark: #ca430d;
$background-dark: linear-gradient(#B6434F, 24%, #032328);;
$selector: #6cb672;
$shadow : rgba(32, 32, 32, 0.1);

@mixin light-theme {
  --lime: #{$lime};
  --lime-lighten-15: #{lighten($lime, 15%)};
  --lime-lighten-20: #{lighten($lime, 20%)};
  --lime-darken-5: #{darken($lime, 5%)};
  --lime-darken-15: #{darken($lime, 15%)};
  --lime-darken-20: #{darken($lime, 20%)};
  --lime-darken-20: #{darken($lime, 20%)};
  --lime-darken-35: #{darken($lime, 35%)};
  --orange: #{$orange};
  --orange-lighten-3: #{lighten($orange, 3%)};
  --orange-darken-3: #{darken($orange, 3%)};
  --orange-darken-5: #{darken($orange, 5%)};
  --orange-darken-12: #{darken($orange, 12%)};
  --orange-darken-16: #{darken($orange, 16%)};
  --orange-darken-20: #{darken($orange, 20%)};
  --red: #{$red};
  --red-lighten-3: #{lighten($red, 3%)};
  --red-darken-3: #{darken($red, 3%)};
  --red-darken-5: #{darken($red, 5%)};
  --red-darken-12: #{darken($red, 12%)};
  --red-darken-16: #{darken($red, 16%)};
  --red-darken-20: #{darken($red, 20%)};
  --grey: #{$grey};
  --grey-lighten-3: #{lighten($grey, 3%)};
  --grey-darken-5: #{darken($grey, 5%)};
  --grey-darken-20: #{darken($grey, 20%)};
  --background: #{$background};
  --shadow: #{$shadow};
}

@mixin dark-theme {
  --lime: #{$lime-dark};
  --lime-lighten-15: #{lighten($lime-dark, 10%)};
  --lime-lighten-20: #{lighten($lime-dark, 20%)};
  --lime-darken-5: #{darken($lime-dark, 5%)};
  --lime-darken-15: #{darken($lime-dark, 10%)};
  --lime-darken-20: #{darken($lime-dark, 20%)};
  --lime-darken-20: #{darken($lime-dark, 20%)};
  --lime-darken-35: #{lighten($lime-dark, 5%)};
  --orange: #{var($orange-dark)};
  --orange-lighten-3: #{lighten($orange-dark, 3%)};
  --orange-darken-3: #{darken($orange-dark, 3%)};
  --orange-darken-5: #{darken($orange-dark, 5%)};
  --orange-darken-12: #{darken($orange-dark, 12%)};
  --orange-darken-16: #{darken($orange-dark, 16%)};
  --orange-darken-20: #{darken($orange-dark, 20%)};
  --red: #{$red-dark};
  --red-lighten-3: #{lighten($red-dark, 3%)};
  --red-darken-3: #{darken($red-dark, 3%)};
  --red-darken-5: #{darken($red-dark, 5%)};
  --red-darken-12: #{darken($red-dark, 12%)};
  --red-darken-16: #{darken($red-dark, 16%)};
  --red-darken-20: #{darken($red-dark, 20%)};
  --grey: #{$grey-dark};
  --grey-lighten-3: #{lighten($grey-dark, 3%)};
  --grey-darken-5: #{darken($grey-dark, 5%)};
  --grey-darken-20: #{darken($grey-dark, 20%)};
  --background: #{$background-dark};
  --background-lighten-20: #{lighten($selector, 20%)};
  --shadow: #{$shadow};
}

:root {
  @include light-theme;
}

body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  background: var(--background);
  font-family: "Rubik", sans-serif;

  &.dark {
    @include dark-theme;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: 10px;
}

.game-field {
  display: grid;
  gap: 1px;
  align-items: center;
  justify-items: center;
}

.hints-field {
  display: flex;
}

.cell {
  border: solid 0.2vmin var(--lime-darken-20);
  cursor: pointer;
  
}

.empty-cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2vmin var(--lime-darken-20);
  background-color: var(--lime);

  &::before {
    content: '';
    position: absolute;
    width: calc(42vmin + 5px);
    height: 0.5vmin;
    background-color: var(--lime-darken-20);
    bottom: -1px;
    left: 0;
    z-index: 5;
  }

  &::after {
    content: '';
    position: absolute;
    width: 0.5vmin;
    height: calc(42vmin + 5px);
    background-color: var(--lime-darken-20);
    top: 0;
    right: -1px;
    z-index: 5;
  }

  &.medium::before {
    width: calc(65vmin + 10px);
  }

  &.medium::after {
    height: calc(65vmin + 10px);
  }

  &.hard::before {
    width: calc(80vmin + 16px);
  }

  &.hard::after {
    height: calc(80vmin + 16px);
  }

}

.hint {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2vmin;
  row-gap: 0;
  column-gap: 5px;
  padding: 8px;
  background-color: var(--lime-lighten-15);
  color: var(--lime-darken-20);
  border: solid 0.2vmin var(--lime-darken-20);
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}

.vertical {
  flex-direction: column;
}

.cross {
  position: relative;
  animation: rotate .2s ease-in;

  &.hide {
    animation: hide .2s ease-in;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2%;
    transform: rotate(45deg);
    border-radius: 2vmin;
    top: 50%;
    left: 0%;
    background-color: var(--lime-darken-35);
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2%;
    transform: rotate(-45deg);
    border-radius: 2vmin;
    top: 50%;
    left: 00%;
    background-color: var(--lime-darken-35);
  }
}

@keyframes rotate {
  0%{
    opacity: 0;
    transform: rotate(-90deg);
    border: solid 0px var(--lime-darken-20);
    transform: scale(0);
  }

  50%{
    transform: scale(1.2);
    opacity: 1;
  }

  100%{
    transform: scale(0.6);
    transform: rotate(90deg);
    border: solid 0px var(--lime-darken-20);
  }
}

.painted {
  background-color: var(--lime-darken-15);
  transition: background-color .2s ease-in;
  animation: rotate-box .2s ease-in;

  &.hide {
    animation: hide .2s ease-in;
  }

  &.cross{
    animation-name: rotate-box .2s ease-in;
  }
}

@keyframes rotate-box {
  0%{
    opacity: 0;
    transform: rotate(-90deg);
    border: solid 0px var(--lime-darken-20);
    transform: scale(0);
  }

  50%{
    transform: scale(1.2);
    opacity: 1;
  }

  100%{
    transform: scale(0.6);
    transform: rotate(90deg);
    border: solid 0px var(--lime-darken-20);
  }
}

@keyframes hide {
  0%{
    border: solid 0px var(--lime-darken-20);
    transform: rotate(90deg);
    opacity: 1;
  }

  50%{
    transform: scale(1.1);
  }

  100%{
    border: solid 0px var(--lime-darken-20);
    transform: rotate(0);
    opacity: 0;
    transform: scale(0.6);
  }
}

.line {
  position: relative;

  &:not(.vertical)::after {
    content: '';
    position: absolute;
    width: calc(42vmin + 5px);
    height: 0.5vmin;
    background-color: var(--lime-darken-20);
    bottom: -1px;
    left: 0;
    z-index: 2;
  }

  &.vertical::after {
    content: '';
    position: absolute;
    width: 0.5vmin;
    height: calc(42vmin + 5px);
    background-color: var(--lime-darken-20);
    top: 0;
    right: -1px;
    z-index: 2;
  }

  &.medium:not(.vertical)::after {
    width: calc(65vmin + 10px);
  }

  &.medium.vertical::after {
    height: calc(65vmin + 10px);
  }

  &.hard:not(.vertical)::after {
    width: calc(80vmin + 16px);
  }

  &.hard.vertical::after {
    height: calc(80vmin + 16px);
  }
}

.modal-container[open] {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 70vmin;
  height: 25vmin;

  font-size: 4vmin;
  text-align: center;
  font-weight: 600;
  color: var(--lime-darken-35);
  background-color: var(--lime);
  border: solid 2px var(--lime-darken-20);
  border-radius: 4vmin;
  z-index: 3;
}

.timer {
  font-size: 3vmin;
  color: var(--lime-darken-20);
}

.selectors-container {
  display: flex;
  justify-content: center;
  gap: 1vmin;
}

.selector {
  padding: 0 10px;
  width: 30.4vmin;
  height: 5vmin;
  font-family: "Rubik", sans-serif;
  font-size: 2vmin;
  font-weight: 600;
  outline-style: none;
  border-radius: 1vmin;
  color: var(--lime-darken-20);
  background-color: var(--background-lighten-20);
  border: 1px solid var(--lime-darken-5);
  transition: background-color 0.2s ease-in, border 0.2s ease-in, box-shadow 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}

.save-plate {
  position: absolute;
  top: 4vmin;
  transform: translateY(calc(-200% - 4vmin));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 2vmin;
  outline-style: none;
  border: none;
  width: 40vmin;
  height: 8vmin;
  border-radius: 1vmin;
  color: var(--lime-darken-20);
  background-color: var(--lime);
  border: 1px solid var(--lime-darken-5);
  box-shadow: 0px 5px 10px var(--shadow);
  z-index: 5;
  
  &.active {
    animation: plate 1.2s ease-in-out
  }

  &.error {
    color: var(--red-darken-20);
    background-color: var(--red);
    border: 1px solid var(--red-darken-5);
    box-shadow: 0px 5px 10px var(--shadow);
  }
}

@keyframes plate {
  0%{
    transform: translateY(calc(-200% - 4vmin));
  }

  20%{
    transform: translateY(0);
  }
  
  80%{
    transform: translateY(0);
  }
  
  100%{
    transform: translateY(calc(-200% - 4vmin));
  }
}

.button {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 2vmin;
  outline-style: none;
  border: none;
  width: 20vmin;
  height: 5vmin;
  border-radius: 1vmin;
  color: var(--lime-darken-20);
  background-color: var(--lime);
  border: 1px solid var(--lime-darken-5);
  box-shadow: inset 0px 0px 0px var(--lime), 0px 2px 0px var(--lime-darken-5), 0px 3px 2px var(--shadow);
  transition: background-color 0.2s ease-in, border 0.2s ease-in, box-shadow 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background-color: var(--lime-darken-5);
    border: 1px solid rgba(#000, 0.1);
    box-shadow: inset 1px 2px 2px var(--lime-darken-15);
    color: var(--lime-darken-20);
    transition: background-color 0.2s ease-in, border 0.2s ease-in, box-shadow 0.2s ease-in, color 0.2s ease-in;
  }
}

.solution-button {
  color: var(--orange-darken-20);
  background-color: var(--orange-lighten-3);
  border: 1px solid var(--orange-darken-5);
  box-shadow: inset 0px 0px 0px var(--orange), 0px 2px 0px var(--orange-darken-5), 0px 3px 2px var(--shadow);

  &:hover {
    background-color: var(--orange-darken-3);
    box-shadow: inset 1px 2px 2px var(--orange-darken-12);
    color: var(--orange-darken-16);
  }

  &:disabled {
    color: var(--grey-darken-20);
    background-color: var(--grey-lighten-3);
    border: 1px solid var(--grey-darken-5);
    box-shadow: inset 0px 0px 0px var(--grey), 0px 2px 0px var(--grey-darken-5), 0px 3px 2px var(--shadow);
    cursor: default;
  }
}

.switch-button {
  color: var(--orange-darken-20);
  background-color: var(--orange-lighten-3);
  border: 1px solid var(--orange-darken-5);
  box-shadow: inset 0px 0px 0px var(--orange), 0px 2px 0px var(--orange-darken-5), 0px 3px 2px var(--shadow);

  &:hover {
    background-color: var(--orange-darken-3);
    box-shadow: inset 1px 2px 2px var(--orange-darken-12);
    color: var(--orange-darken-16);
  }
}

.load-button {
  &:disabled {
    color: var(--grey-darken-20);
    background-color: var(--grey-lighten-3);
    border: 1px solid var(--grey-darken-5);
    box-shadow: inset 0px 0px 0px var(--grey), 0px 2px 0px var(--grey-darken-5), 0px 3px 2px var(--shadow);
    cursor: default;
  }
}

.reset-button {
  color: var(--red-darken-20);
  background-color: var(--red-lighten-3);
  border: 1px solid var(--red-darken-5);
  box-shadow: inset 0px 0px 0px var(--red), 0px 2px 0px var(--red-darken-5), 0px 3px 2px var(--shadow);

  &:hover {
    background-color: var(--red-darken-3);
    box-shadow: inset 1px 2px 2px var(--red-darken-12);
    color: var(--red-darken-16);
  }
}

.close-button {

  color: var(--red-darken-20);
  background-color: var(--red);
  border: 1px solid var(--red-darken-5);
  box-shadow: 0px 5px 10px var(--shadow);
  
  &:hover {
    background-color: var(--red-darken-3);
    box-shadow: inset 1px 2px 2px var(--red-darken-12);
    color: var(--red-darken-16);
  }
}

.best-results {
  box-sizing: border-box;
  position: absolute;
  padding: 0 6vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0;
  right: 0;
  height: 100%;
  width: 50vmin;
  transform: translateX(120%);
  background-color: var(--lime-lighten-20);
  color: var(--lime-darken-20);
  box-shadow: 0px 5px 10px var(--shadow);
  transition: transform .15s ease-in;
  z-index: 30;

  &.open {
    transform: translateX(0);
  }
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 2.2vmin;
  gap: 10px;
  text-align: justify;
  width: 100%;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0;
  left: 0;
  height: 100%;
  width: 50vmin;
  transform: translateX(-120%);
  background-color: var(--lime-lighten-20);
  box-shadow: 0px 5px 10px var(--shadow);
  transition: transform .15s ease-in;
  z-index: 30;

  &.open {
    transform: translateX(0);
  }
}

.switcher-container {
  display: flex;
  align-items: center;
  gap: 1.5vmin;
}

.switcher-text {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 2vmin;
  color: var(--lime-darken-20);
  margin: 0;
}

.toggle-slider {
  position: relative;
  width: 7vmin;
  height: 3.5vmin;
  border-radius: 5vmin;
  background-color: var(--lime);
  transition: background-color .2s ease-in-out;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 3.5vmin;
    height: 3.5vmin;
    background-color: var(--lime-darken-15);
    border-radius: 5vmin;
    transition: transform .2s ease-in-out;
  }

  &.active::before {
    background-color: var(--lime);
    transform: translateX(3.7vmin);
  }

  &.active {
    background-color: var(--lime-darken-15);
  }
}

.background {
  position: absolute;
  z-index: -1;
}

