@import url(../assets/fonts/fonts.css);
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: 10px;
}

.game-field {
  display: grid;
  gap: 1px;
  align-items: center;
  justify-items: center;
}

.hints-field {
  display: flex;
}

.cell {
  border: solid 1px #7c9a11;
  cursor: pointer;
}

.empty-cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #7c9a11;
  background-color: #d3ef6f;
}
.empty-cell::before {
  content: "";
  position: absolute;
  width: calc(42vmin + 5px);
  height: 3px;
  background-color: #7c9a11;
  bottom: -1px;
  left: 0;
  z-index: 2;
}
.empty-cell::after {
  content: "";
  position: absolute;
  width: 3px;
  height: calc(42vmin + 5px);
  background-color: #7c9a11;
  top: 0;
  right: -1px;
  z-index: 2;
}
.empty-cell.medium::before {
  width: calc(65vmin + 10px);
}
.empty-cell.medium::after {
  height: calc(65vmin + 10px);
}
.empty-cell.hard::before {
  width: calc(80vmin + 16px);
}
.empty-cell.hard::after {
  height: calc(80vmin + 16px);
}

.hint {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2vmin;
  row-gap: 0;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding: 8px;
  background-color: #d3ef6f;
  color: #6a830f;
  border: solid 1px #7c9a11;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}

.vertical {
  flex-direction: column;
}

.cross {
  position: relative;
  animation: rotate 0.2s ease-in;
}
.cross.hide {
  animation: hide 0.2s ease-in;
}
.cross::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2%;
  transform: rotate(45deg);
  border-radius: 2vmin;
  top: 50%;
  left: 0%;
  background-color: #45550a;
}
.cross::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2%;
  transform: rotate(-45deg);
  border-radius: 2vmin;
  top: 50%;
  left: 0%;
  background-color: #45550a;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
    border: solid 0px #7c9a11;
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.6);
    transform: rotate(90deg);
    border: solid 0px #7c9a11;
  }
}
.painted {
  background-color: #8fb114;
  transition: background-color 0.2s ease-in;
  animation: rotate-box 0.2s ease-in;
}
.painted.hide {
  animation: hide 0.2s ease-in;
}
.painted.cross {
  animation-name: rotate-box 0.2s ease-in;
}

@keyframes rotate-box {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
    border: solid 0px #7c9a11;
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.6);
    transform: rotate(90deg);
    border: solid 0px #7c9a11;
  }
}
@keyframes hide {
  0% {
    border: solid 0px #7c9a11;
    transform: rotate(90deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    border: solid 0px #7c9a11;
    transform: rotate(0);
    opacity: 0;
    transform: scale(0.6);
  }
}
.line {
  position: relative;
}
.line:not(.vertical)::after {
  content: "";
  position: absolute;
  width: calc(42vmin + 5px);
  height: 3px;
  background-color: #7c9a11;
  bottom: -1px;
  left: 0;
  z-index: 2;
}
.line.vertical::after {
  content: "";
  position: absolute;
  width: 3px;
  height: calc(42vmin + 5px);
  background-color: #7c9a11;
  top: 0;
  right: -1px;
  z-index: 2;
}
.line.medium:not(.vertical)::after {
  width: calc(65vmin + 10px);
}
.line.medium.vertical::after {
  height: calc(65vmin + 10px);
}
.line.hard:not(.vertical)::after {
  width: calc(80vmin + 16px);
}
.line.hard.vertical::after {
  height: calc(80vmin + 16px);
}

.modal-container[open] {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 70vmin;
  height: 25vmin;
  font-size: 4vmin;
  text-align: center;
  font-weight: 600;
  color: #45550a;
  background-color: #bee72a;
  border: solid 2px #7c9a11;
  border-radius: 4vmin;
  z-index: 3;
}

.timer {
  font-size: 3vmin;
  color: #6a830f;
}

.selectors-container {
  display: flex;
  justify-content: center;
  gap: 1vmin;
}

.selector {
  padding: 0 10px;
  width: 30.4vmin;
  height: 5vmin;
  font-family: "Rubik", sans-serif;
  font-size: 2vmin;
  font-weight: 600;
  outline-style: none;
  border-radius: 1vmin;
  color: #6a830f;
  background-color: #fff;
  border: 1px solid #b4de19;
  transition: background-color 0.2s ease-in, border 0.2s ease-in, box-shadow 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}

.save-plate {
  position: absolute;
  top: 4vmin;
  transform: translateY(calc(-200% - 4vmin));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 2vmin;
  outline-style: none;
  border: none;
  width: 40vmin;
  height: 8vmin;
  border-radius: 1vmin;
  color: #6a830f;
  background-color: #c2e938;
  border: 1px solid #b4de19;
  box-shadow: 0px 5px 10px #a9d118;
  z-index: 5;
}
.save-plate.active {
  animation: plate 1s ease-in-out;
}

@keyframes plate {
  0% {
    transform: translateY(calc(-200% - 4vmin));
  }
  30% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-200% - 4vmin));
  }
}
.button {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 2vmin;
  outline-style: none;
  border: none;
  width: 20vmin;
  height: 5vmin;
  border-radius: 1vmin;
  color: #6a830f;
  background-color: #c2e938;
  border: 1px solid #b4de19;
  box-shadow: inset 0px 0px 0px #bee72a, 0px 2px 0px #b4de19, 0px 3px 5px #b4de19;
  transition: background-color 0.2s ease-in, border 0.2s ease-in, box-shadow 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;
}
.button:hover {
  background-color: #b4de19;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 2px #9abe15;
  color: #84a312;
  transition: background-color 0.2s ease-in, border 0.2s ease-in, box-shadow 0.2s ease-in, color 0.2s ease-in;
}

.solution-button {
  color: #8e5e06;
  background-color: #f5a614;
  border: 1px solid #d88f09;
  box-shadow: inset 0px 0px 0px #f09f0a, 0px 2px 0px #d88f09, 0px 3px 5px #d88f09;
}
.solution-button:hover {
  background-color: #e19509;
  box-shadow: inset 1px 2px 2px #b57808;
  color: #a26b07;
}

.load-button:disabled {
  color: #828480;
  background-color: #bdbebc;
  border: 1px solid #a8a9a7;
  box-shadow: inset 0px 0px 0px #b5b6b4, 0px 2px 0px #a8a9a7, 0px 3px 5px #a8a9a7;
  cursor: default;
}

.reset-button {
  color: #872f0b;
  background-color: #ed612a;
  border: 1px solid #dc4c12;
  box-shadow: inset 0px 0px 0px #ec571c, 0px 2px 0px #dc4c12, 0px 3px 5px #dc4c12;
}
.reset-button:hover {
  background-color: #e54f13;
  box-shadow: inset 1px 2px 2px #bb4010;
  color: #a83a0e;
}

.close-button {
  background-color: #ccec58;
}

.best-results {
  box-sizing: border-box;
  position: absolute;
  padding: 0 6vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0;
  right: 0;
  height: 100%;
  width: 50vmin;
  transform: translateX(120%);
  background-color: #daf186;
  color: #84a312;
  box-shadow: 0px 5px 10px #a9d118;
  transition: transform 0.15s ease-in;
  z-index: 4;
}
.best-results.open {
  transform: translateX(0);
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 2.2vmin;
  gap: 10px;
  text-align: justify;
  width: 100%;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0;
  left: 0;
  height: 100%;
  width: 50vmin;
  transform: translateX(-120%);
  background-color: #daf186;
  box-shadow: 0px 5px 10px #a9d118;
  transition: transform 0.15s ease-in;
  z-index: 4;
}
.menu.open {
  transform: translateX(0);
}/*# sourceMappingURL=style.css.map */