@import url(../general/fonts.css);

$primary: #ff4646;
$dark: #181c29;
$white: #fff;

@mixin action-small {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $dark;
}
.wrapper {
  container-type: inline-size;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 auto;
  max-width: calc(1316px - 40px);
  min-height: 64px;
  background-color: $white;
  transition: padding .2s ease-in-out;
  
}

.logo {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
  text-decoration: none;
}

#logo__mark {
  fill: $primary;
}

#logo__text {
  @include action-small();
  fill: $primary;
}

.nav {
  @include action-small();
  display: flex;
  align-items: center;
  padding: 0;

  .nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 9px;
  }

  .links {
    cursor: pointer;

    &:hover:not(.active) a {
      color: $primary;
      background-color: rgba($primary, 0.1);
    }
  }

  a {
    display: block;
    padding: 12px 20px;
    border-radius: 12px;
    text-decoration: none;
    color: $dark;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
  }

  .active {
    
    a {
      color: $primary;
      background-color: rgba($primary, 0.1);
      cursor: default;
    }
  }
}

.burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  .burger__line {
    display: block;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -5px;
      left: -10px;
      width: 20px;
      height: 1px;
      background-color: $dark;
      border-radius: 5px;
    }

    &::after{
      position: absolute;
      content: '';
      bottom: -4px;
      left: -10px;
      width: 20px;
      height: 1px;
      background-color: $dark;
      border-radius: 5px;
    }
  }

}

@container (max-width: 769px) {
  .nav {
    display: none;
  }

  .burger {
    display: flex;
  }

  .header {
    padding: 0 8px;
  }
}
