@import url(../general/fonts.css);
body {
  position: relative;
}

.modal-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(24, 28, 41, 0.8);
  z-index: 5;
  animation: blackout 0.2s ease-in-out;
}

.modal-cards__container {
  position: relative;
  max-width: 400px;
  width: 100%;
  background-color: #ECF3F8;
  border-radius: 20px;
  animation: modal 0.2s ease-in-out;
}

@keyframes modal {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blackout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal-cards__item .paragraph-text {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #181c29;
  margin: 0;
}
.modal-cards__item .modal-card__image {
  background-size: cover;
  background-position: center;
  height: 230px;
}
.modal-cards__item .for-work-image {
  background-image: url(../../images/gift-for-work.png);
}
.modal-cards__item .for-health-image {
  background-image: url(../../images/gift-for-health.png);
}
.modal-cards__item .for-harmony-image {
  background-image: url(../../images/gift-for-harmony.png);
}
.modal-cards__item .modal-card__description {
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 20px;
  border-radius: 20px;
  background-color: #fff;
}
.modal-cards__item .description__text {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  row-gap: 8px;
}
.modal-cards__item .for-work {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4361FF;
  margin: 0;
}
.modal-cards__item .for-health {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #06A44F;
  margin: 0;
}
.modal-cards__item .for-harmony {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FF43F7;
  margin: 0;
}
.modal-cards__item h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181c29;
  margin: 0;
  transition: color 0.2s ease-in-out;
}
.modal-cards__item h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #181c29;
  margin: 0;
  margin-bottom: 8px;
}
.modal-cards__item .stats-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.modal-cards__item .stats-list__item {
  display: grid;
  grid-template-columns: 1fr 0.35fr 0.65fr;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
}
.modal-cards__item .stats-text {
  text-align: right;
}
.modal-cards__item .stats__level-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding: 0;
}
.modal-cards__item .level-list__item {
  display: flex;
  fill: rgba(255, 70, 70, 0.1);
}
.modal-cards__item .filled {
  fill: #ff4646;
  animation: test 0.5s 0.1s ease-in-out;
}
@keyframes test {
  0% {
    opacity: 0;
  }
  100% {
    transform: rotate(180deg);
    opacity: 1;
  }
}

.close-button {
  position: absolute;
  height: 26px;
  width: 26px;
  right: 25px;
  top: 22px;
  z-index: 6;
  cursor: pointer;
}
.close-button::before {
  position: absolute;
  content: "";
  transform: rotate(45deg);
  width: 26px;
  bottom: 12px;
  height: 2px;
  background-color: #181c29;
  border-radius: 5px;
}
.close-button::after {
  position: absolute;
  content: "";
  transform: rotate(-45deg);
  width: 26px;
  bottom: 12px;
  height: 2px;
  background-color: #181c29;
  border-radius: 5px;
}

.hidden {
  display: none;
}/*# sourceMappingURL=modal-card.css.map */