@import url(../general/fonts.css);
@import url(../general/header.css);
@import url(../general/gift-cards.css);
@import url(../general/footer.css);

$primary: #ff4646;
$dark: #181c29;
$white: #fff;

@mixin header-1($color: $white) {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  color: $color;
  margin: 0;
}

@mixin action-small($color: $white) {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

main {
  background-color: $primary;
  border-radius: 20px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  height: 1000px;
  background-color: $white;
  margin: 0 auto;
}

/* -------------- GIFTS SECTION -------------- */

#gifts-section {
  display: flex;
  padding: 60px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: top url(../../images/bg-garland.png), $primary;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    @include header-1();
    text-align: center;
    max-width: 426px;
    margin-bottom: 4px;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    column-gap: 8px;
    margin-bottom: 13px;
    cursor: pointer;

    .tabs__item {
      @include action-small();
      border-radius: 12px;
      padding: 12px 20px;
      transition: background-color .2s ease-in-out;

      &:hover:not(.active) {
        background-color: rgba($white, 0.2);
      }
    }

    .active {
      background-color: rgba($white, 0.2);
      cursor: default;
    }
  }
}
