@import url(../css/fonts/fonts.css);

$body: #F1F1F8;
$text: #717197;
$background: #E5E5F1;
$tab-light: #D4D4ED;
$tab-dark: #717197;
$inactive: #BBBBCF;
$white: #fff;
$orange: #F6B354;
$green: #46BA8B;
$magenta: #CE347E;
$purple: #927197;